<a href="https://colab.research.google.com/github/lorenacsr/Awari/blob/main/Tarefa_Exerc%C3%ADcio_com_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Tarefa: Exercício com API**


O exercício a ser desenvolvido para a presente unidade consiste em conectar-se a uma API. O Banco Central do Brasil disponibiliza dados a respeito de diversos indicadores econômicos do país. Sua tarefa será encontrar a série histórica relativa à inflação (IPCA) na plataforma de dados abertos do BC, importá-la e transformá-la em um DataFrame do Pandas.

Você precisará criar um Jupyter Notebook (em sua máquina ou no Google Colab) com o código que mostre que a conexão com a API foi devidamente realizado. Em seguida, deverá compartilhá-lo com seu mentor através de um link criado no Colab, GitHub ou Google Drive.

In [3]:
import pandas as pd

In [4]:
url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados?formato=json'

In [5]:
df=pd.read_json(url)

In [6]:
df.head()

         data  valor
0  01/01/1991  20.27
1  01/02/1991  19.62
2  01/03/1991  13.45
3  01/04/1991   4.85
4  01/05/1991   8.15